/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--background: #121212;
	--accent: #FFEA00;
	--accent-alt: #54EBFF;
}

body {
	font-family: 'arial';
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--background);
	display: grid;
	justify-content: center;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}
main {
	/* width: 720px; */
	/* max-width: calc(100% - 2em); */
	max-width: 1920px;
	/* margin: 0px 112px 0px 112px; */
	display: flex;
	flex-direction: column;
	gap: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0 0;
	line-height: 1.2;
}
h1 {
	/* font-size: 3.052em; */
	font-size: 62px;
	letter-spacing: -1px;
}
h2 {
	font-size: 24px;
	padding-bottom: 24px;
	border-bottom: 6px solid var(--accent);
	/* font-size: 2.441em; */
}
h3 {
	font-size: 40px;
	font-size: 1.953em;
}
h4 {
	font-size: 32px;
	font-size: 1.563em;
}
h5 {
	font-size: 24px;
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	font-size: 1em;
}

.tagline {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	letter-spacing: -1px;
}

header {
	display: flex;
	
}

.header-title {
	font-size: 24px;
	padding: 0px 12px 0px 16px;
	text-transform: uppercase;
	width: 100%;
	align-content: center;
}

.header-title a{
	text-decoration: none;
}

.header-nav {
	display: flex;
	width: 100%;
	align-content: center;
}

.header-nav ul{
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 16px;
	padding: 4px 16px 4px 0px;
	margin: 0px;
}

.header-nav ul li a{
	text-decoration: none;
}

.hero {
	display: flex;
	gap: 1rem; /* optional spacing between video and text */
}

.hero-item {
	display: flex;
	width: 100%;
}

.hero-item video {
	width: 100%;
}

.hero-description {
	color: var(--accent);
}

.about-section {
	display: flex;
	gap: 16px;
}

.about-body {
	color: var(--accent);
	font-size: 24px;
	font-weight: bold;
}

.about-description {
	width: 75%;
}
.about-links {
	width: 25%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.about-link-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.about-link-list a{
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}


/* TABLE */
th {
	color: var(--accent-alt);
	font-size: 24px;
	font-weight: bold;
	border-bottom: 6px solid var(--accent);
	padding-bottom: 28px;
}

.table-thumbnail {
	height: 48px;
}

tr a {
	text-decoration: none;
}

td {
	color: var(--accent);
	font-size: 24px;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
}

tbody tr:first-child td {
	padding-top: 28px;
  }
  

table {
	border-collapse: collapse;
}

.table-cell-content {
	display: flex;
	align-items: center; /* vertical alignment */
	gap: 12px; /* space between image and link */
  }
  


/* UTILITY */

.accent {
	color: var(--accent);
}

.accent-alt {
	color: var(--accent-alt);
}

.align-right {
	text-align: right;
}


@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}



.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
