/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--background: #121212;
	--accent: #FFEA00;
	--accent-alt: #54EBFF;
}

/* Debugging */
/* * {
	outline: 1px solid red;
  } */

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--background);
	display: grid;
	justify-content: center;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}
main {
	/* width: 720px; */
	/* max-width: calc(100% - 2em); */
	/* max-width: 1920px; */
	/* margin: 0px 112px 0px 112px; */
	display: flex;
	flex-direction: column;
	gap: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0 0;
	line-height: 1.2;
}

h1 {
	/* font-size: 3.052em; */
	font-size: 62px;
	letter-spacing: -1px;
}
h2 {
	font-size: 24px;
	padding-bottom: 24px;
	border-bottom: 4px solid var(--accent);
	/* font-size: 2.441em; */
}
h3 {
	font-size: 40px;
	font-size: 1.953em;
}
h4 {
	font-size: 32px;
	font-size: 1.563em;
}
h5 {
	font-size: 24px;
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	font-size: 24px;
}

.tagline {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	letter-spacing: -1px;
}

header {
	display: flex;
	justify-content: center;
}

.header-wrapper {
	width: 100%;
	max-width: 1512px;
	display: flex;
}

.header-title {
	font-size: 24px;
	padding: 0px 12px 0px 16px;
	text-transform: uppercase;
	width: 100%;
	align-content: center;
}

.header-mobile {
	display: none;
}

.header-title a{
	text-decoration: none;
}

.header-nav {
	display: flex;
	width: 100%;
	align-content: center;
}

.header-nav ul{
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 16px;
	padding: 4px 16px 4px 0px;
	margin: 0px;
}
li {
	list-style: none;
  }
.header-nav ul li a{
	text-decoration: none;
	
}

.hero {
	display: flex;
	gap: 1rem; /* optional spacing between video and text */
	width: 100%;
}

.hero-item {
	display: flex;
	width: 100%;
	min-width: 0;
}

.hero-item video {
		display: block;
		width: 100%;
		height: auto;
		max-width: 100%;
}

.blog-video {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 ratio */
}

.blog-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog-content {
	max-width: 1512px;
	color: var(--accent);
	display: flex;
	flex-direction: column;
}

.blog-paragraph {
	margin-left: 16px;
	margin-right: 16px;
}

.blog-main {
	gap: 80px;
}

.badge-cell {
	display: flex;
	justify-content: flex-end;
}

.badge-new {
	background-color:var(--accent-alt);
	color: black;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 24px;
	font-weight: 700;
	height: 28px;
	display: flex;
    align-items: center;
	margin-top: 6px;
	width: fit-content;
}

.badge-upcoming {
	background-color:var(--accent);
	color: black;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 24px;
	font-weight: 700;
	height: 28px;
	display: flex;
    align-items: center;
	margin-top: 6px;
	width: fit-content;
}

.hero-description {
	color: var(--accent);
}

.about-section, .description-section {
	display: flex;
	width: 100%;
	justify-content: center;
}

.stills-section {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 60px;
}

.stills {
	margin-top: 36px;
	margin-bottom: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 24px;
}

.still {
	aspect-ratio: 16 / 9;
	overflow: hidden;
  }

  .still img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* ⭐ crops + scales */
	display: block;
  }

/* Lightbox overlay */
.lightbox {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.9);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 9999;
  }
  
  .lightbox.open {
	display: flex;
  }
  
  /* Image */
  .lightbox img {
	max-width: 90vw;
	max-height: 90vh;
	object-fit: contain;
  }
  
  /* Close button */
  .lightbox-close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	font-size: 2rem;
	background: none;
	color: white;
	border: none;
	cursor: pointer;
  }

.about-wrapper, .description-wrapper {
	max-width: 1512px;
	display: flex;
	gap: 64px;
}

.about-body {
	color: var(--accent);
	font-size: 24px;
	/* font-weight: bold; */
}

.about-description {
	padding-left: 16px;
	flex: 2;
}

#description-section {
	margin-top: 48px;
}

.about-links {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-right: 16px;
  }


.about-link-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.about-link-list a{
	width: 100%;
	font-size: 24px;
	/* font-weight: bold; */
	text-decoration: underline;
}

.about-link-list p {
	margin-top: 0px;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
	max-width: 1512px;
	margin-left: 16px;
	margin-right: 16px;
	border-collapse: collapse;
	table-layout: fixed;
}



img {
	max-width: 100%;
	height: auto;
}


/* TABLE */

.table-wrapper {
	display: flex;
	justify-content: center;
}

th {
	color: var(--accent-alt);
	font-size: 24px;
	font-weight: bold;
	/* border-bottom: 4px solid var(--accent); */
	padding-bottom: 16px;
}

.toggle-btn {
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	text-align: left;
	width: 100%;
	color: var(--accent-body);
	padding-left: 0px;
  }

  .toprow:hover td{
	color: var(--accent-alt);
  }

  .table-thumbnail {
	width: 100%;
	height: auto;
	display: block;
  }

.details-content {
	font-weight: 400;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	
}

.details-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.details-content-container p {
	margin-top: 0px;
}

/* .arrow {
	font-family: 'fantasy';
} */

tr a {
	text-decoration: none;
}

td {
	color: var(--accent);
	font-size: 24px;
	font-weight: bold;
	padding-top: 16px;
	padding-bottom: 16px;
}

.title {
	display: flex;
	align-items: center;
	gap: 16px;
	padding-left: 16px;
	padding-right: 16px;
	/* justify-content: space-between; */
}

.title-col {
	width: 50%;
}

.title h1 {
	font-size: 56px;
	color: var(--accent-alt);
}

.role-col {
	width: 25%;
}

tbody tr:first-child td {
	padding-top: 16px;
  }
  

.toprow {
	border-top: 4px solid var(--accent);
}

.table-cell-content {
	display: flex;
	align-items: center; /* vertical alignment */
	gap: 12px; /* space between image and link */
  }
  
  .visually-hidden {
	position: absolute;
	left: -9999px;
  }


/* UTILITY */

.accent {
	color: var(--accent);
}

.accent-alt {
	color: var(--accent-alt);
}

.align-right {
	text-align: right;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 700;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		gap: 48px;
	}

	h2, p {
		font-size: 16px;
	}


	.hero-item {
		height: 100vh;        /* viewport crop size */
		overflow: hidden;     /* hide overflow */
		position: relative;
	  }

	  .hero-item video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	  }




	.header-title {
		font-size: 18px;
		padding-left: 8px;
	}

	.header-nav ul {
		padding: 8px 8px 8px 0px;
		gap: 8px;
		
	}

	.header-about, .header-contact {
		display: none;
	}

	.header-mobile {
		display: flex;
	}

	header a {
		font-size: 18px;
		line-height: 1;
	}

	a {
		font-size: 16px;
	}

	table {
		margin: 0px;
		padding-left: 16px;
	}

	.table-wrapper, .about-links {
		padding-right: 8px;
		padding-left: 8px;
	}

	.title-col {
		width: 70%;
	}

	th:nth-child(2),
	th:nth-child(3),
	td:nth-child(2),
	td:nth-child(3) {
	  display: none;
	}

	.toggle-btn, th {
		font-size: 16px;
	}

	.badge-new, .badge-upcoming {
		font-size: 16px;
	}

	.about-description {
		padding-left: 8px;
	}

	.about-wrapper {
		flex-direction: column;
		padding-bottom: 48px;
	}

	.about-link-list a {
		font-size: 16px;
	}

}






.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
